.titre_blog{
  text-align: center;
  color:black;
  font-size:20px !important;
  border-bottom: 1px dotted black;
  margin-bottom: 10px !important;
}
.text_blog{
  margin-top:20px;
}
.image-block{
  width:100%;
}
.button_blog{
  margin-top:20px;
  font-size:15px;
  color:black;
  width: 50%;
}
