h1,h2,h3,h4,h5,h6{
font-family: 'Lato', sans-serif;
}


.bloc{
  margin-bottom:40px;
  .bloc-center{
    position:relative;
    img{
      width:100%;
    }
    .in{
      display:flex;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      a{
        z-index:2;
        color:#fff;
        text-transform:uppercase;
        display:block;
        margin:auto auto auto auto;
        border:2px solid #F5DEB3;
        padding:20px 70px;
        cursor:default;
        h2{
          margin:0 0;
          font-size:50px;
        }
        &:hover{
          background:none;
          transition:all 0.5s;
        }
      }


    }

  }

  .zoom{
    position: relative;
      -webkit-transition: all 300ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 300ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 300ms ease-in;
      -moz-transform: scale(1);
      transition: all 300ms ease-in;
      transform: scale(1);
  }
  .zoom:hover{

      z-index: 2;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1.1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1.1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1.1);
      transition: all 200ms ease-in;
      transform: scale(1.1);
  }
}

section{
  margin: 0px auto 100px auto;
  h1{
    font-size:32px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
    margin-bottom:20px;
  }
  hr{
    margin:0px 0px 20px 0px;
    border:1px solid #F5DEB3;
  }
}
.widow{

  height:100%;
  padding:20px;


}
.texte{
  h2{
    font-family:'Lato', sans-serif;
    font-size:30px;
  }
.button{
  color:black;
  background:none;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  border:1px solid #F5DEB3;
  &:hover{
    color:#F5DEB3;
    background:none;
  }
}
}
.petit_visu{
  height:14em;
}
.full{
  background-size:cover;
  background-position:center;
  width:100%;
  height:100%;
}

.visu_tow{
  .petit_visu{
    margin:10px;
    position:relative;
    overflow:hidden;
  }
  .detail{
    width:100%;
    display:block;
    position:absolute;
    top:-100%;
    left:0;
    height:100%;
    background-color:black;
    opacity:0.8;
    transition:0.5s;
    padding:10px 10px;
    text-align:center;
    .etoile{
      margin: auto auto;
      i{
        text-decoration:none;
        color:white;
      }
    }
    .btndetail{
      background:transparent;
      color:white;
      border:1px solid white;
      margin:auto auto;
      &:hover{
        background:white;
        color:black;
      }
    }
    p{
      margin: 0px auto 10px auto;
      color:white;
      text-align:center;
      display:block;
      border-bottom:1px dotted white;
      text-align:center;
      line-height:30px;
    }
    img{
      text-align:center;
    }
  }
}

#respond{
  form{
    textarea{
      border:1px solid #F5DEB3;
      box-shadow:none;
    }
    .form-submit{
      input{
        font-size:20px;
        font-family:'Lato', sans-serif;
        background:none !important;
        border:1px solid #ecc06d !important;
        width:300px;
        height:50px;
        box-shadow:none;
        color:black;
        box-shadow:none;
        transition:0.5s;
        &:hover{
          color:#fff !important;
          background:#F5DEB3 !important;
          border:1px solid #F5DEB3!important;
          transition:0.5s;
        }
        }
    }
  }
#reply-title{
  font-size:1,2em !important;
  text-align:center;
  border-bottom:1px solid #F5DEB3;
  margin-bottom:50px;
}
}



#isp_search_box_container{
      margin-left: 0% !important;
}
#isp_left_container{
  display:none;
}
#isp_center_container{
  margin-left: 0% !important;
  h1{
    text-align: center!important;
    color:black!important;
    font-size:20px !important;
    margin-bottom: 10px !important;
    b{
      color:#F5DEB3;
    }
  }
}

#isp_search_results_container{

      .isp_grid_product{
          border:none !important;
        .isp_product_image_wrapper{
          border:1px solid #F5DEB3 !important;
        }
        .isp_add_to_cart_btn{
          background:#F5DEB3 !important;
        }
      }
    }
