#basfooter{
  background:black;
  margin-top:0px;
  #page-full-width{
    margin:auto;
    padding:20px 0px;
    .row{
      margin-bottom:20px;
    .reso{
      color:white;
      text-align:left;
      margin-bottom:20px;

      i{
        color:white;
        text-decoration:none;
        margin-right:10px;
        transition:0.5s;
        -webkit-transition:0.5s;

        &:hover{
          transform:rotateY(360deg);
          -webkit-transform:rotateY(360deg);
        }
      }
    }
    .news{

      a{
        color:white;
        background:none;
        font-size:24px;
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
        border:1px solid #fff;
        &:hover{
          color:#fff;
          background:none;
        }
      }
    }
    }
  }
}
.lien_footer{
  a{
  text-align:left;
  text-decoration:none;
  color:#F5DEB3;
  font-size:20px;
  p{
    margin-bottom:0px;
    &:hover{
      color:#FFFFFF;

    }
  }

  }
}
#assurance{
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e3e3f+0,2f2d2e+100 */
  background: #3e3e3f; /* Old browsers */
  background: -moz-linear-gradient(top, #3e3e3f 0%, #2f2d2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3e3e3f 0%,#2f2d2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3e3e3f 0%,#2f2d2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3f', endColorstr='#2f2d2e',GradientType=0 ); /* IE6-9 */
  height:100%;
  padding:10px;
#page-full-width{
  margin:auto;
}
.assurance{
  display:flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin:auto;
  margin:auto;
  img{
    margin-right:10px;
  }
  p{
    width:150px;
    color:#fff;
    font-size:14px;
    line-height:16px;
    text-transform:uppercase;
    text-align:center;
  }
}
}
