#basfooter{
  background:black;
  margin-top:0px;
  #page-full-width{
    margin:auto;
    padding:20px 0px;
    .row{
      margin-bottom:20px;
    .reso{
      color:white;
      text-align:center;
      margin-bottom:20px;

      i{
        color:white;
        text-decoration:none;
        margin-right:10px;
        transition:0.5s;
        -webkit-transition:0.5s;

        &:hover{
          transform:rotateY(360deg);
          -webkit-transform:rotateY(360deg);
        }
      }
    }
    .news{
      a{
        color:white;
        background:none;
        font-size:24px;
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
        border:1px solid #fff;
        &:hover{
          color:#fff;
          background:none;
        }
      }
    }
    }
  }
}
