
.wc-tabs-wrapper{
  ul{
  list-style: none;
  padding: 0 0 0 0 !important;
  margin: 0 0 1.618em;
  overflow: hidden;
  position: relative;
  border:none !important;
  border-bottom:none !important;
  li{
    border:1px solid #F5DEB3 !important;
  }
  li >active{
    background:#F5DEB3 !important;
  }

}
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: none!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    display: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #F5DEB3;
    color: grey;
    z-index: 2;
    border-bottom-color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #d3ced2;
    background-color: transparent;
    color: #F5DEB3;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 4px 4px 0 0;
    margin: 0 -5px;
    padding: 0 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    /* right: -6px; */
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #ebe9eb;
    display:none;
}
.panel{
  h2{
  display:none;
  }
}
.related {
  margin-top:100px;
  h2{
    font-size:1.5em !important;
    text-align:center;
    border-bottom:1px solid #F5DEB3;
    margin-bottom:50px;
  }
}
