.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(12);
    margin-top: 1rem;
  }
  label{
    color:#F5DEB3;
    font-size:20px;
    font-family:'Lato', sans-serif;
  }
}
